.footer-form {
  display: flex;

  &__text {
    @extend %main-font-style;
    width: 23rem;
    border: 0.1rem solid $border-color;
    border-right: none;
    padding: 1rem;

    &::placeholder {
      font-family: $fourth-font;
      color: $second-font-color;
    }
  }

  &__submit {
    border: none;
    width: 15rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: $third-color;
    font-family: $main-font;
    text-transform: uppercase;
    cursor: pointer;

    &:active {
      margin-top: 0.1rem;
      margin-bottom: -0.1rem;
      zoom: 1;
    }
  }
}