.inbanner {
  margin: 0 auto;
  padding-top: 10%;
  max-width: 84.4rem;
  text-align: center;

  &__title {
    font-family: $main-font;
    font-size: 15rem;
    line-height: 14rem;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 8.6rem;
  }

  &__text {
    font-family: $decorative-font;
    font-weight: normal;
    font-size: 7.2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
}