.page-nav {
  margin-top: 0.2rem;
}

.site-navigation {
  @include flex-space('bet-center');

  &__item {
    margin-right: 5rem;
  }

  &__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $main-color;
    transition: color 0.2s linear;
    
    &:hover,
    &:focus {
      color: $additional-color;
    }

    &::before {
      display: block;
      position: absolute;
      content: '';
      margin-bottom: -0.8rem;
      height: 0.3rem;
      width: 0;
      background-color: $additional-color;
      transition: width 0.2s linear, left 0.2s linear;
      left: 50%;
      bottom: 0;
    }

    &::after {
      display: block;
      position: absolute;
      content: '';
      margin-bottom: -0.8rem;
      height: 0.3rem;
      width: 0;
      background-color: $additional-color;
      transition: width 0.2s linear;
      left: 50%;
      bottom: 0;
      pointer-events: none;
    }

    &:hover::before,
    &:focus::before {
      width: 50%;
      left: 0;
    }

    &:hover:after,
    &:focus::after {
      width: 50%;
    }
  }
}