@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,500,700|Roboto:300i,400&display=swap');

:root {
  --main-color:#95e1d3;
  --secondary-color:#f38181;
  --additional-color: #fce38a;
  --first-font-color:#333333;
  --second-font-color:#999999;
  --third-font-color: #e5e5e5;
  --ff-ks: "Kaushan Script", cursive;
  --ff-mont: "Montserrat", sans-serif;
  --ff-rob: "Roboto", sans-serif;
  --simple-animation: background-color 0.2s linear;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.page-nav {
  float: right;
  margin-bottom: 130px;
}

.site-logo a{
    text-decoration: none;
    font-family: var(--ff-mont);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.6px;
    color: var(--main-color);
}

.site-navigation>.navigation:not(:last-child) {
  margin-right: 50px;
}

.site-logo {
  margin-top: 24px;
  float: left;
  animation: logo 10s linear 0s infinite;
}

@keyframes logo {
  0%  {
   transform: rotateY(0deg);
  }
  100%  {
   transform: rotateY(360deg);
  }
}

.site-navigation {
float: right;
}

.navigation {
  float: left;
  margin-top: 36px;
}

.navigation a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--ff-mont);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-color);
    transition: color 0.2s linear;
}

.navigation a:hover,
.navigation a:focus {
    color: var(--secondary-color);
}

  .navigation a::before {
  display: block;
  position: absolute;
  content: "";
  margin-bottom: -8px;
  height: 3px;
  width: 0;
  background-color: var(--secondary-color);
  transition: width 0.2s linear, left 0.2s linear;
  left: 50%;
  bottom: 0;
  }
  
  .navigation a::after{
  display: block;
  position: absolute;
  content: "";
  margin-bottom: -8px;
  height: 3px;
  width: 0;
  background-color: var(--secondary-color);
  transition: width 0.2s linear;
  left: 50%;
  bottom: 0;
  pointer-events: none;
  }
  
  .navigation a:hover::before{
  width: 50%;
  left: 0;
  }
  .navigation a:hover::after{
  width: 50%;
  }

.section-name {  
  display: block;
  color: var(--first-font-color);
  text-align: center;
  margin-bottom: 64px;
  font-family: var(--ff-mont);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-name::after {
  display: block;
  margin: 0 auto;
  margin-top: 34px;
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--secondary-color);
}

.decorative__text {
  display: block;
  color: var(--first-font-color);
  text-align: center;
  font-family: var(--ff-ks);
  font-size: 24px;
  text-transform: capitalize;
  line-height: 29px;
  padding-bottom: 12px;
}

.article__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services {
  position: relative;
  width: 380px;
  margin-bottom: 90px;
  padding-left: 80px;
}

.service__title, .members__name {
  font-family: var(--ff-mont);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--first-font-color);
}

.service__title {
  margin-bottom: 16px;
}

.services::before {
  position: absolute;
  top: 0;
  left: 20px;
  display: inline-block;
  content: '';
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  color: var(--main-color);
}

.icon-alarm::before {
  background-image: url(../img/icons/features/alarm.png);
}

.icon-line-graph::before {
  background-image: url(../img/icons/features/line-graph.png);
}

.icon-computer::before {
  background-image: url(../img/icons/features/computer.png);
}

.icon-book::before {
  background-image: url(../img/icons/features/book.png);
}

.icon-home::before {
  background-image: url(../img/icons/features/home.png);
}

.icon-image::before {
  background-image: url(../img/icons/features/image.png);
}

.service__text, 
.section__text,
.input-text {
  font-family: var(--ff-rob);
  font-size: 15px;
  line-height: 24px;
  color: var(--second-font-color);
}

.section__text {
  padding: 0 10%;
  text-align: center;
  margin-bottom: 90px;
}

.team {
  display: flex;
  justify-content: space-between;
}

.member {
  position: relative;
  width: 380px;
  height: 471px;
  margin-bottom: 28px;
  background-color: var(--main-color);
}

.exact__member {
  transition: transform 0.2s linear;
}

.decorative__gradient {
  position: absolute;
  background-image: linear-gradient(
    rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%
  );
  top: 0px; left: 0px; bottom: 0px; right: 0px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.member:hover .exact__member {
  transform: translate(-10px, -10px)
}

.member:hover .decorative__gradient {
  opacity: 1;
}

.inner__box {
  position: absolute;
  display: flex;
  transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.inner__box a {
  display: block;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  width: 56px;
  height: 56px;
}

.inner__box__item {
  width: 56px;
  height: 56px;
  margin-right: 1px;
  background-color: var(--additional-color);
  transition: var(--simple-animation);
}

.inner__box__item:hover {
  background-color: var(--main-color);
}

.inner__box__item:last-child {
  margin-right: 0px;
}

.visually-hidden {
  visibility: hidden;
}

.facebook {
  background-image: url(../img/icons/social/facebook.png);
}

.twitter{
  background-image: url(../img/icons/social/twitter.png);
}

.pinterest {
  background-image: url(../img/icons/social/pinterest.png);
}

.instagram {
  background-image: url(../img/icons/social/instagram.png);
}

.members__name, .members__activities {
  text-align: center;
}

.members__name {
  margin-bottom: 10px;
}

.members__activities {
  color: var(--second-font-color);
  margin-bottom: 82px;
  text-transform: capitalize;
  font-family: var(--ff-rob);
  font-weight: 300;
  font-style: italic;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid var(--third-font-color);
}

.created,
.link__on__designer {
  font-family: var(--ff-mont);
  font-weight: 500;
}
.created {
color: var(--first-font-color);
}

.link__on__designer {
  text-decoration: none;
  color: var(--secondary-color);
}

.created::before {
  content: "\00A9";
  margin-right: 3px;
}

.footer-form {
  display: flex;
}

.input-text, .input-submit {
  height: 40px;
}

.input-text {
  width: 230px;
  border: 1px solid var(--third-font-color);
  padding: 10px;
}

.input-text::placeholder {
  font-family: var(--ff-rob);
  font-weight: 300;
  font-style: italic;
  color: var(--third-font-color);
}

.input-submit {
border: none;
width: 150px;
color: #fff;
background-color: var(--main-color);
font-family: var(--ff-mont);
font-weight: 700;
text-transform: uppercase;
cursor: pointer;
}

.input-submit:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}