:root {
    --main-color:#ffffff;
    --secondary-color:#ff4e50;
    --first-font-color: #333333;
    --second-font-color: #666666;
    --main-font: "Montserrat Bold", sans-serif;
    --secondary-font: "Roboto Light", sans-serif;

    position: relative;
    font-size: 62.5%;
    min-width: 32em;
    box-sizing: border-box;
  }