.page-footer {
  @include flex-space('bet-center');
  padding: 1rem 0;
  border-top: 0.1rem solid $border-color;
}

.footer-info__text {
  @extend %third-font-style;
  color: $first-font-color;

  &::before {
    content: '\00A9';
    margin-right: 0.3rem;
  }
}

.footer-info__link {
  @extend %third-font-style;
  text-decoration: none;
  color: $secondary-color;
}