.additional-section {
  @include flex-space('bet');
  min-width: 9rem;


  &__item:not(nth-last-of-type(1)) {
    margin-right: 5rem;
  }

  &__link {
    display: block;
    text-decoration: none;

    &:hover .additional-section__link--bucket,
    &:focus .additional-section__link--bucket {
      fill: $additional-color;
    }

    &--bucket {
      width: 2rem;
      height: 2rem;
      fill: $main-color;
      transition: fill 0.2s linear;
    }
  }

  &__button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover .additional-section__button--search,
    &:focus .additional-section__button--search {
      fill: $additional-color;
    }

    &--search {
      width: 1.8rem;
      height: 1.8rem;
      fill: $main-color;
      transition: fill 0.2s linear;
    }
  }
}
