.additional-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 9rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &__item:not(nth-last-of-type(1)) {
    margin-right: 5rem;
  }

  &__link {
    display: block;
    text-decoration: none;

    &:hover .additional-section__link--bucket,
    &:focus .additional-section__link--bucket {
      fill: $additional-color;
    }
  }

  &__link--bucket {
    width: 2rem;
    height: 2rem;
    fill: $main-color;
    -webkit-transition: fill 0.2s linear;
    -o-transition: fill 0.2s linear;
    transition: fill 0.2s linear;
  }

  &__button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover .additional-section__link--bucket,
    &:focus .additional-section__link--bucket {
      fill: $additional-color;
    }
  }

  &__button--search {
    width: 1.8rem;
    height: 1.8rem;
    fill: $main-color;
    -webkit-transition: fill 0.2s linear;
    -o-transition: fill 0.2s linear;
    transition: fill 0.2s linear;
  }
}
