.page-header {
  position: absolute;
  top: 2.4rem;
  @include flex-space('bet-center');
  left: 50%;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
}

.customer-helper {
  display: flex;
  margin-top: 1rem;
}
