@import url(./fonts.css);
@import url(./vars.css);

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 32rem;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  display: flex;
  flex-flow: column-reverse nowrap;
  position: absolute;
  justify-content: center;
  top: 2rem;
  left: 50%;
  transform: translatex(-50%);
  z-index: 10;
}

.logo-link {
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  color: var(--main-color);
}

.registration-button::first-letter,
.section__text::first-letter,
.main__section::first-letter,
.partners__link::first-letter {
  text-transform: uppercase;
}

.registration {
  text-align: center;
  margin-bottom: 11.6rem;
}

.registration-button {
  font-size: 1.4rem;
  line-height: 1.6;
  background-color: transparent;
  border: none;
  width: 90px;
  height: 36px;
  padding: 0;
  color: var(--main-color);
  transition: border 0.2s linear;
}

.registration-button,
.partners__link {
  cursor: pointer;
  font-family: var(--main-font);
}

.registration-button:hover,
.registration-button:focus {
  border: 0.2rem solid #ffffff;
  border-radius: 5rem;
}

.banner {
  position: relative;
  margin-bottom: 6.6rem;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1915;
  z-index: -1;
}

.banner__img {
    width: 100%;
    max-height: 52rem;
    mix-blend-mode: difference;
}

.inbanner {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  min-width: 32rem;
  text-align: center;
}

.section__title {  
  font-size: 3rem;
  line-height: 3.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--main-color);
}

.section__text {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  color: var(--main-color);
  line-height: 2.2rem;
  max-width: 22rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.partners__link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.6;
  border: 0.2rem solid var(--secondary-color);
  border-radius: 5rem;
  padding: 0.8rem 3rem;
}

.first__link {
  color: var(--main-color);
  background-color: var(--secondary-color);
}

.second__link {
  color: var(--secondary-color);
  margin-bottom: 6rem;
}

.main__section {
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: var(--first-font-color);
  margin-bottom: 1.4rem;
}

.partners {
  text-align: center;
}

.members {
  margin-bottom: 2.6rem;
}

.exact__member {
  position: relative;
  text-align: center;
  max-width: 21.6rem;
  margin: 0 auto;
}

.exact__member:not(:last-of-type) {
margin-bottom: 2.6rem;
}

.partners__photo {
  margin: 0 auto;
  margin-bottom: 1.8rem;
  border-radius: 50%;
}

.exact__member::before {
  position: absolute;
  display: block;
  content: "";
  width: 4rem;
  height: 4rem;
  top: 8.7rem;
  right: 4.2rem;
  border-radius: 50%;
  border: 0.4rem solid var(--main-color);
  background-repeat: no-repeat;
  background-position: 45% 48%;
}

.tv-icon::before {
  background-image: url(../img/icons/tv-icon.png);
  background-color: var(--secondary-color);
}

.mixture-icon::before {
  background-image: url(../img/icons/mixture-icon.png);
  background-color: #ffa507;
}

.coffee-icon::before {
  background-image: url(../img/icons/coffee-icon.png);
  background-color: #1cd7ad;
}

.telegram-icon::before {
  background-image: url(../img/icons/telegram-icon.png);
  background-color: #4e73db;
}

.members__name,
.members__info {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.members__name {
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

.members__info {
  font-family: var(--secondary-font);
  color: var(--second-font-color);
}

@media screen and (min-width: 48em) {
  
  .container {
    max-width: 50.4rem;
  }

  .page-header {
    top: 3.6rem;
    min-width: 67.8rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .registration {
    margin: 0;
  }

  .banner__img {
    max-height: 70rem;
  }

  .inbanner,
  .section__text {
    min-width: 50.4rem;
  }

  .inbanner {
    top: 50%;
  }

  .section__title {
    font-size: 5.2rem;
    line-height: 6.2rem;
    margin-bottom: 2.2rem;
  }

  .section__text {
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 3rem;
  }

  .main__section {
    margin-bottom: 3rem;
  }

  .members {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 3.6rem;
  }

  .exact__member:not(:nth-of-type(2n)) {
    margin-bottom: 5.6rem;
  }

  .exact__member:nth-of-type(2n) {
    margin-bottom: 0;
  }

  .fourth__member {
    order: 4;
  }

  .second__member {
    order: 3;
  }

  .second__link {
    margin-bottom: 4rem;
  }

}

@media  screen and (min-width: 90em) {

  .container {
    max-width: 94rem;
  }
  
  .page-header {
    min-width: 94rem;
  }

  .inbanner {
    max-width: 50.4rem;
  }

  .exact__member:not(:nth-of-type(2n)) {
    margin-bottom: 0;
  }

  .second__link {
    margin-bottom: 7.4rem;
  }

}