@import url(../css/fonts.css);

:root {
  --main-color:#ffffff;
  --secondary-color:#ff4e50;
  --first-font-color: #333333;
  --second-font-color: #666666;
  --ff-rob-light: "Roboto Light", sans-serif;
  --ff-mont-bold: "Montserrat Bold", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 32rem;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  display: flex;
  flex-flow: column-reverse wrap;
  position: absolute;
  justify-content: center;
  top: 2rem;
  left: 50%;
  transform: translatex(-50%);
  z-index: 10;
}

.logo-link {
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--ff-mont-bold);
  color: var(--main-color);
}

.logo-link,
.registration-button,
.section__title,
.partners__link,
.main__section,
.members__name {
  font-family: var(--ff-mont-bold);
}

.registration-button::first-letter,
.section__text::first-letter,
.main__section::first-letter,
.partners__link::first-letter {
  text-transform: uppercase;
}

.registration {
  text-align: center;
  margin-bottom: 11.6rem;
}

.registration-button {
  font-size: 1.4rem;
  background-color: rgba(0,0,0,0);
  border: none;
  padding: 0.8rem 1.5rem;
  color: var(--main-color);
}

.signup {
  border: 2px solid #ffffff;
  border-radius: 5rem;
}

.banner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 6.6rem;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);  
  z-index: 5;
}

.banner__img {
    margin: 0 auto;
    width: 100%;
    max-height: 52rem;
}

.inbanner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  text-align: center;
}

.section__title {  
  font-size: 3rem;
  line-height: 3.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--main-color);
}

.section__text {
  font-family: var(--ff-rob-light);
  font-size: 1.8rem;
  color: var(--main-color);
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.partners__link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  border: 0.2rem solid var(--secondary-color);
  border-radius: 5rem;
  padding: 0.8rem 3rem;
}

.first__link {
  color: var(--main-color);
  background-color: var(--secondary-color);
}

.second__link {
  color: var(--secondary-color);
  margin-bottom: 6rem;
}

.main__section {
  font-size: 2.2rem;
  color: var(--first-font-color);
  margin-bottom: 1.4rem;
}

.partners {
  text-align: center;
}

.exact__member {
  position: relative;
  text-align: center;
  width: 22rem;
  margin: 0 auto;
}

.exact__member:not(:last-of-type) {
  margin-bottom: 2.6rem;
}

.exact__member:last-of-type {
  margin-bottom: 2.6rem;
}

.partners__photo {
  margin: 0 auto;
  margin-bottom: 1.8rem;
  border-radius: 50%;
}

.exact__member::before {
  position: absolute;
  display: block;
  content: "";
  width: 4rem;
  height: 4rem;
  top: 8.7rem;
  right: 4.5rem;
  border-radius: 50%;
  border: 0.4rem solid var(--main-color);
  background-repeat: no-repeat;
  background-position: 45% 48%;
}

.tv-icon::before {
  background-image: url(../img/icons/tv-icon.png);
  background-color: var(--secondary-color);
}

.mixture-icon::before {
  background-image: url(../img/icons/mixture-icon.png);
  background-color: #ffa507;
}

.coffee-icon::before {
  background-image: url(../img/icons/coffee-icon.png);
  background-color: #1cd7ad;
}

.telegram-icon::before {
  background-image: url(../img/icons/telegram-icon.png);
  background-color: #4e73db;
}

.members__name,
.members__info {
  font-size: 1.4rem;
}

.members__name {
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

.members__info {
  font-family: var(--ff-rob-light);
  color: var(--second-font-color);
}