@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  background-color: #e9f0fd;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.fixed__header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top:  0;
  left: 0;
  z-index: 200;
}

.site-logo {
  float: left;
  margin-top: 32px;
  margin-bottom: 24px;
}

.site-logo a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -0.6px;
    color: #555252;
}

.site-logo::first-letter{
font-weight: 900;
color:#1abc9c;
}

.site-navigation>.navigation:not(:last-child) {
  margin-right: 30px;
}

.page-nav {
  float: right;
}

.navigation{
  margin-top: 42px;
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.navigation a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #0f0101;
}

.navigation a:hover,
.navigation a:focus {
    color: #1abc9c;
}

.slider {
  width: 1600px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 94px;
}

.slider-ctrl {
  position: absolute;
  top: 225px;
  border: none;
  font-size: 100px;
  color: #ffffff;
  background-color: #1abc9c;
  opacity: 0.65;
  width: 104px;
  height: 104px;
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  }

  .button-prev {
    left: 244px;
    background-image: url("../img/icons/left.png");
  }

  .button-next {
    right: 244px;
    background-image: url("../img/icons/right.png");
  }

.slider-ctrl:hover,
.slider-ctrl:focus {
  opacity: 1;
}

.slides {
  margin-top: 86px;
}

.separate__slide {
  position: relative;
  height: 602px;
}

.slide__image {
  position: absolute;
  width: 100%;
  filter: brightness(52%)
}

.link__from__slide {
  position: absolute;
  left: 428px;
  top: 200px;
  width: 740px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff
}

.main__link {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: -1.2px;
  line-height: 82px;
  cursor: pointer;
}

.connected__info {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 54px;
}

.main__link:hover,
.main__link:focus {
  color: #ff7200;
}

.section-name {  
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -1px;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 92px;
}

.section-name::after {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  content: "";
  width: 162px;
  height: 7px;
  background-color: #1abc9c;
}

.shop-item:nth-child(1n){
  margin-bottom: 98px;
}

.shop-item:not(:last-child) {
  margin-right: 30px;
}

.shop-item{
  position: relative;
  float:left;
  width: 255px;
  background-color: #e8effc;
}

.name-price {
  float: left;
  background-color: #323232;
}

.product-name, .price {
  float: left;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  padding: 12px 12px 10px;
  color: #ffffff;
}

.product-name {
  width: 200px;
}

.price {
  width: 55px;
  background-color: rgba(255, 255, 255, 0.44);
}

.inner__box {
  position: absolute;
  display: none;
  width: 235px;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 10px;
  left: 10px;
}

.inner__box__item {
  position: absolute;
  display: block;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  z-index: 5;
  background-repeat: no-repeat; 
  cursor: pointer;
}

.simple {
  width: 50px;
  top: 80px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
}

.special {
  width: 165px;
  font-family: "Open sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.3px;
  bottom: 75px;
  left: 35px;
  background-image: url(../img/icons/cart.png);
  background-position: 10px, 0px, 10px, 10px;
  padding-left: 40px;
  background-color: #323232;
}

.like {
  background-image: url(../img/icons/like.png);
  left: 35px;
}

.share {
background-image: url(../img/icons/share.png);
left: 93px;
}

.wait {
background-image: url(../img/icons/time.png);
  right: 35px;
}

.shop-item:hover .name-price,
.shop-item:focus .name-price,
.inner__box__item:hover,
.inner__box__item:focus {
  background-color: #1abc9c;
}

.shop-item:hover .inner__box,
.shop-item:focus .inner__box {
  display: block;
}

.page-footer {
  position: relative;
  height: 88px;
  background-color: #323232;
}

.footer__info {
position:absolute;
text-transform: capitalize;
font-family: "Open Sans", sans-serif;
font-size: 16px;
line-height: 28px;
letter-spacing: -0.3px;
left: 50%;
top: 50%;
transform: translate( -50%, -50%);
}

.law__info {
  float: left;
  color: #fefefe;
  margin-right: 4px;
}

.link__on__designer {
  float: left;
  text-decoration: none;
  color: #46bfa9;
}

.uppercase {
  text-transform: uppercase;
}

.special__sign::before {
  content: "\00A9";
  margin-right: 3px;
}