@mixin flex-space($type:'bet-center') {
  display: flex;

  @if $type== 'bet-center' {
    justify-content: space-between;
    align-items: center;
  } @else if $type== 'bet' {
    justify-content: space-between;
  } @else if $type== 'around' {
    justify-content: space-around;
  }
}

@mixin generate-pseudo-icons($baseclass, $list, $path, $ext) {
  @each $icon in $list {
    .#{$baseclass}#{$icon}::before {
      background-image: url(#{$path}#{$icon}.#{$ext});

      @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(#{$path}#{$icon}@2px.#{$ext});
      }
    }
  }
}