@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300,400&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 73px;
  margin-top: 77px;
  max-width: 900px;
}

article {
  display: inline-block;
  margin-bottom: 130px;
  width: 420px;
}

.post-wrap {
  font-size: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

article:nth-last-of-type(-n + 2) {
  margin-bottom: 57px;
}

nav {
  margin-bottom: 104px;
  margin-left: 30px;
  text-align: center;
}

li {
  display: inline-block;
}

a {
  color: #626262;
  font-family: Playfair Display, serif;
  text-decoration: none;
  font-size: 14px;
  margin-right: 95px;
  text-transform: uppercase;
}

a:last-child(1) {
  margin-right: 0px;
}

a:hover,
a:focus {
  color: #03a9f4;
}

h2 {
  display: inline-block;
  width: 420px;
  font-family: Playfair Display, serif;
  color: #626262;
  font-size: 30px;
  margin-bottom: 40px;
}

p {
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  width: 420px;
  font-family: Playfair Display, serif;
  color: #626262;
}

.content_text {
  height: 70px;
  overflow: hidden;
}

.imgtitle {
  color: #b4ad9e;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.box2 {
  margin-right: 0;
  margin-left: 60px;
}

button {
  display: block;
  font-family: Playfair Display, serif;
  color: #626262;
  background-color: white;
  border-block-color: #626262;
  font-size: 20px;
  text-align: center;
  padding: 15px 30px;
  margin: auto;
}

button::first-letter {
  text-transform: uppercase;
}