* {
    box-sizing: border-box; 
}

.wrapper{
    margin-right: auto;
    margin-left:  auto;
    margin-bottom: 73px;
    margin-top: 77px;
    max-width: 960px;
  
    padding-right: 10px;
    padding-left:  10px;
}

article{
display: inline-block;
margin-bottom: 130px;
width: calc(50% - 4px);
}

img {
    width: 421px;
    height: 281px;
}

nav {
    height: 88px;
    vertical-align: bottom;
    margin-bottom: 100px;
    text-align: center;
}

li{
    display: inline-block;
}

a {
    color: #626262;
    font-family: Playfair Display, sans-serif;
    text-decoration: none;
    font-size: 14px;
    margin-right: 120px;
    text-transform: uppercase;
}

a:nth-child(4) {
margin-right: 0px;
}

a:hover {
    color: #03a9f4;
}

h2{
    display: inline-block;
    width: 421px;
    font-family: Playfair Display, sans-serif;
    color: #626262;
}

p {
    display: inline-block;
    line-height: 24px;
    width: 421px;
    font-family: Playfair Display, sans-serif;
    color: #626262;
}

.imgtitle{
    color: #b4ad9e;
    font-family: Ubuntu, serif;
    font-weight: 200;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 28px;
    text-transform: uppercase;
}

h2{
    font-size: 30px;
    margin-bottom: 40px;
}

.box2 {
    margin-right: 0;
}

button{
    display: block;
    font-family: Playfair Display, sans-serif;
    color: #626262;
    background-color: white;
    border-block-color: #626262;
    font-size: 20px;
    text-align: center;
    padding: 15px 30px;
    margin: auto;
}