.service::before {
  position: absolute;
  top: 0;
  left: 2rem;
  display: inline-block;
  content: '';
  width: 3.4rem;
  height: 3.4rem;
  background-repeat: no-repeat;
  color: $third-color;
}

$icons: alarm, line-graph, computer, book, home, image;

@include generate-pseudo-icons(
  'service__icon--',
  $icons,
  '../images/main-icons/features/icon-',
  'svg'
);