.service::before {
  position: absolute;
  top: 0;
  left: 2rem;
  display: inline-block;
  content: '';
  width: 3.4rem;
  height: 3.4rem;
  background-repeat: no-repeat;
  color: $third-color;
}

.service__icon--alarm::before {
  background-image: url(../images/main-icons/features/icon-alarm.svg);
}

.service__icon--line-graph::before {
  background-image: url(../images/main-icons/features/icon-line-graph.svg);
}

.service__icon--computer::before {
  background-image: url(../images/main-icons/features/icon-computer.svg);
}

.service__icon--book::before {
  background-image: url(../images/main-icons/features/icon-book.svg);
}

.service__icon--home::before {
  background-image: url(../images/main-icons/features/icon-home.svg);
}

.service__icon--image::before {
  background-image: url(../images/main-icons/features/icon-image.svg);
}
