.team {
  @include flex-space('bet');
}

.member {
  position: relative;
  width: 38rem;
  margin-bottom: 2.8rem;
  background-color: $third-color;

  &__exact {
    transition: transform 0.2s linear;

    &--decorative-gradient {
      position: absolute;    
      background-image: linear-gradient(
        rgba(243, 129, 129, 0.9) 0%,
        rgba(252, 227, 138, 0.9) 100%
      );
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      opacity: 0;
      transition: opacity 0.2s linear;
    }
  }

  &:hover .member__exact {
    transform: translate(-1rem, -1rem);
  }

  &:hover .member__exact--decorative-gradient {
    opacity: 1;
  }
}

.team__member--name,
.team__member--activities {
  text-align: center;
}

.team__member--name {
  @extend %second-font-style;
  margin-bottom: 1rem;
}

.team__member--activities {
  color: $second-font-color;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-bottom: 8.2rem;
  text-transform: capitalize;
  font-family: $fourth-font;
}
