.section__title {
  display: block;
  color: $first-font-color;
  text-align: center;
  margin-bottom: 6.4rem;
  font-family: $main-font;
  font-size: 3rem;
  line-height: 3.6rem;
  text-transform: uppercase;

  &::after {
    display: block;
    margin: 0 auto;
    margin-top: 3.4rem;
    content: '';
    width: 6rem;
    height: 0.3rem;
    background-color: $secondary-color;
  }
}

.section__text {
  display: block;
  color: $first-font-color;
  text-align: center;
  font-family: $decorative-font;
  font-size: 2.4rem;
  text-transform: capitalize;
  line-height: 2.9rem;
  padding-bottom: 1.2rem;
}

.section__description {
  @extend %main-font-style;
  padding: 0 10%;
  text-align: center;
  margin-bottom: 9rem;
}

.article__group {
  @include flex-space('around');
  flex-wrap: wrap;
}
