@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  margin: 0 auto;
  width: 1110px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site-logo {
  float: left;
  margin-top: 32px;
  margin-bottom: 90px;
}

.site-logo a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #555252;
}

.site-logo::first-letter{
font-weight: 900;
color:#1abc9c;
}

.site-navigation>.navigation:not(:last-child) {
  margin-right: 30px;
}

.site-navigation {
  float:right;
}

.navigation{
  margin-top:42px;
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.navigation a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #0f0101;
}

.navigation a:hover,
.navigation a:focus {
    color: #1abc9c;
}

.section-name {
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #515151;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.first-section {
  margin-bottom: 92px;
}

.section-name::after {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  content: "";
  width: 162px;
  height: 7px;
  background-color: #1abc9c;
}

.shop-item{
  float:left;
  width: 255px;
  background-color: #e8effc;
}

.shop-item:not(:nth-child(4n+5)){
  margin-right: 30px;
}
.shop-item:nth-last-child(1n+5){
  margin-bottom: 30px;
}

.shop-item:nth-child(1n+6){
  margin-bottom: 98px;
}

.name-price {
  float: left;
  background-color: #323232;
}

.product-name, .price {
  float: left;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 12px 12px 10px;
  color: #ffffff;
}

.product-name {
  width: 200px;
  font-size: 18px;
}

.price {
  width: 55px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.44);
}

.shop-item:hover .name-price,
.shop-item:focus .name-price {
  background-color: #1abc9c;
}

.second-section{
  margin-bottom: 82px;
color: #555252;
}

.news-articles {
  float: left;
  width: 350px;
  height: 492px;
}

.news-articles:not(:nth-last-of-type(1)) {
  margin-right: 30px;
}

.article-title, .article-content {
  line-height: 26px;
  color: #555252;
}

.news-image{
  margin-bottom: 14px;
}

.article-title{
  font-family:"Open Sans Semibold", sans-serif;
  font-size: 18px;
  margin-bottom: 26px;
}

.article-content {
  font-family:"Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 14px;
}

.article-title::after {
  display: block;
  margin-top: 10px;
  content: "";
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
}

.link-on-article {
  display: block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4ec6ab;
  font-size: 16px;
  padding: 20px 40px;
  margin-right: 190px;
  margin-bottom: 82px;
  cursor: pointer;
  text-transform:capitalize;
  border-radius: 5px;
}

.link-on-article:hover,
.link-on-article:focus {
  box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.39);
}